$page-label-folder-5cm-width: 187mm;
$page-label-folder-5cm-height: 30mm;
$page-label-folder-5cm-margin-out: 7mm;
$page-label-folder-5cm-margin-in: 7mm;
$page-label-folder-8cm-width: 187mm;
$page-label-folder-8cm-height: 53mm;
$page-label-folder-8cm-margin-out: 7mm;
$page-label-folder-8cm-margin-in: 7mm;


section.label {
  display: block;
  position: relative;
  font-family: "Qanelas Soft", sans-serif;
  > .flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    > * {
      flex-grow: 0;
      flex-shrink: 0;
    }
    > .code {
      width: 20mm;
      height: 20mm;
      > img, > svg {
        width: 20mm;
        height: 20mm;
        object-fit: cover;
        overflow: hidden;
        transform: rotate(90deg);
        fill: var(--color-code);
      }
    }
    > .text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    > .logo {
      width: 20mm;
      height: 20mm;
      > img, > svg {
        width: 20mm;
        height: 20mm;
        object-fit: cover;
        overflow: hidden;
        transform: rotate(90deg);
        fill: var(--color-logo);
      }
    }
  }
  h1 {
    font-weight: 700;
    font-size: 12mm;
  }
  p {
    font-size: 6mm;
  }
}

@media screen {
  section.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 1px solid #000;
  }
}

@page label-folder-5cm {
  width: $page-label-folder-5cm-width;
  height: $page-label-folder-5cm-height;
  margin: 0;
}

section.label.label-folder-5cm {
  page: label-folder-5cm;
  width: $page-label-folder-5cm-width;
  height: $page-label-folder-5cm-height;
  > .flex {
    > .code {
      margin-left: $page-label-folder-5cm-margin-out;
      margin-right: $page-label-folder-5cm-margin-in;
    }
    > .logo {
      margin-left: $page-label-folder-5cm-margin-in;
      margin-right: $page-label-folder-5cm-margin-out;
    }
  }
}

@page label-folder-8cm {
  width: $page-label-folder-8cm-width;
  height: $page-label-folder-8cm-height;
  margin: 0;
}

section.label.label-folder-8cm {
  page: label-folder-8cm;
  width: $page-label-folder-8cm-width;
  height: $page-label-folder-8cm-height;
  > .flex {
    > .code {
      margin-left: $page-label-folder-8cm-margin-out;
      margin-right: $page-label-folder-8cm-margin-in;
    }
    > .logo {
      margin-left: $page-label-folder-8cm-margin-in;
      margin-right: $page-label-folder-8cm-margin-out;
    }
  }
}